.bash_logout
.bash_history
.esd_auth
.mozilla/
.ssh/
.gnupg/
.dotfiles
.cache/
.local/
.gitconfig
Github/
Documents/
Downloads/
Pictures/
Videos/
.config/VirtualBox
.config/dconf
.config/transmission
.config/pulse
.config/neofetch
.config/htop
