[Unit]
Description=Disables GPE17 interrupt.

[Service]
ExecStart=/bin/bash -c 'echo "disable" > /sys/firmware/acpi/interrupts/gpe17'

[Install]
WantedBy=multi-user.target
