[Unit]
Description=Disables SCI interrupt.

[Service]
ExecStart=/bin/bash -c 'echo "disable" > /sys/firmware/acpi/interrupts/sci'

[Install]
WantedBy=multi-user.target
